body {
    background-color:rgb(16, 206, 253);
}

input {
    padding: 12px 20px;
    margin: 8px 0;
}

label {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    background-color: whitesmoke;
    border: 4px solid black;
    position: absolute;
    width: 50%;
    z-index: 15;
    top: 20%;
    left: 30%;
}

.inputs {
    position:relative;
    left:29%;
}

.p {
    left: 38%;
    position:relative;
    background-color: whitesmoke;
    width: 200px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top:0%;
    border:2px solid black;
}

.buttons {
    left: 42%;
    position:relative;
}

.add {
    left:30%;
    position:relative;
}

.ascii {
    border: none;
    color: white;
    padding: 10px;
    background-color: rgb(16, 164, 214);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:10px;
}

.ascii:hover {
    background-color: rgb(31, 34, 34);
    color:rgb(16, 206, 253);
}

#btrestart {
    left:44%;
    position:relative;
}

#btsubmit {
    left:45.5%;
    position:relative;
    margin-bottom: 10px;
}

#letraLogin {
    background-color: rgb(31, 34, 34);
    color:rgb(16, 206, 253);
    padding: 10px;
    border: none;
    text-align: center;
    font-size: 14px;
}

#letraPass {
    background-color: rgb(31, 34, 34);
    color:rgb(16, 206, 253);
    padding: 10px;
    border: none;
    text-align: center;
    font-size: 14px;
}

#letraLogin:hover {
    color: white;
}

#letraPass:hover {
    color: white;
}